    footer { background-color: #e5e7eb; padding: 2rem rem; font-size: 1rem; box-shadow: 0 -3px 8px rgba(0,0,0,0.2); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }
    #skills, #languages, #projects { background-color: #e5e7eb; }
    .navbar-brand { font-size: 1.5rem; font-weight: bold; }
    .skill-badge { transition: transform 0.2s ease-in-out; }
    .skill-badge:hover { transform: scale(1.05); }
    .project-card { transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; }
    .project-card:hover { transform: translateY(-5px); box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important; }
    .footer-link { transition: transform 0.2s ease-in-out; } 
    .footer-link:hover { transform: scale(1.2); }    
    
    a { text-decoration: none; color: inherit;}

    #loader-container {
      position: fixed; top: 0; left: 0;
      width: 100vw; height: 100vh;
      background-color: rgba(33, 37, 41, 0.9); 
      display: flex; justify-content: center; align-items: center;
      z-index: 10000;
      transition: opacity 0.5s ease-out;
    }

    .spinner {
      width: 60px; height: 60px;
      border: 8px solid #f8f9fa; 
      border-top: 8px solid #0d6efd; 
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
    @keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }

    .lang-wrapper {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    .lang-switcher {
      display: flex;
      gap: 8px;
    }

    .lang-icon {
      width: 30px;       
      height: 30px;      
      cursor: pointer;
      margin-right: 8px; 
      transition: transform 0.2s ease-in-out;
      border-radius: 4px; 
    }

    .lang-icon:hover {
      transform: scale(1.1); 
      opacity: 1;
    }

    /* Skill Cards Colors */
    .skill-card-core:hover, .skill-card-others:hover, .skill-card-soft:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; 
    }

    .skill-card-core {
      background-color: rgba(13, 110, 253, 0.08); 
      border-color: rgba(13, 110, 253, 0.3); 
    }

    .skill-card-others {
      background-color: rgba(108, 117, 125, 0.08);
      border-color: rgba(108, 117, 125, 0.3);
    }

    .skill-card-soft {
      background-color: rgba(25, 135, 84, 0.08);
      border-color: rgba(25, 135, 84, 0.3);
    }
    
    /* Langs Cards Color */
    .language-card {
      background-color: rgba(13, 110, 253, 0.08); 
      border-color: rgba(13, 110, 253, 0.3); 
    }

    .language-box {
      display: block;
      border-radius: 12px;
      transition: all 0.2s ease-in-out;
      background-color: rgba(108, 117, 125, 0.08) !important;
    }

    .language-box:hover {
      transform: translateY(-3px);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; 

    }

    .language-box-link:hover {
      color: #0d6efd; 
      text-decoration: underline;
    }

    .used-technologies-projects {
      background-color: rgba(13, 110, 253, 0.08); 
      border-color: rgba(13, 110, 253, 0.3); 
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; 
    }

    @media (max-width: 991px) {
      .lang-icon {
          margin-right: 12px;
          margin-bottom: 5px;
      }

      #languages .row { justify-content: center; }
      .navbar { padding-top: 0.5rem;  }

      .navbar-nav {
        text-align: center; 
        padding-top: 0.5rem;
      }

      .lang-switcher {
        width: 100%;
        justify-content: center;
        border-top: 1px solid rgba(255,255,255,.1);
        padding-top: 0.75rem;
      }

      .navbar-collapse {
        align-items: center;
      }
    }